* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
}

.excel {
    height: 100%;
    max-width: 100%;
    position: relative;
    color: #888;
    font-size: 0.8rem;
}
